<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    
    <title>SOMPO Harici Avukat ve Arabulucu Uygulaması</title>
    
    <meta name="description" content="Hasar Yönetim Sistemi - Arabuluculuk ve Hasar Dosya Yönetimi">
    <meta name="keywords" content="sompo, sigorta, hasar, arabulucu, avukat, yönetim">
    <meta name="author" content="SOMPO Sigorta">
    <meta name="robots" content="noindex, nofollow">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#3b82f6">
    
    <% if (ctx.mode.pwa && ctx.prod) { %>
    <meta http-equiv="Content-Security-Policy" 
          content="default-src 'self'; 
                   script-src 'self' 'unsafe-inline' 'unsafe-eval'; 
                   style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; 
                   font-src 'self' https://fonts.gstatic.com https://fonts.googleapis.com data:; 
                   img-src 'self' data: https: blob:; 
                   connect-src 'self' https://api.sompo.com.tr;
                   worker-src 'self' blob:;
                   frame-ancestors 'none';
                   base-uri 'self';
                   form-action 'self';">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Frame-Options" content="DENY">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin">
    <meta http-equiv="Permissions-Policy" content="geolocation=(), microphone=(), camera=()">
    <% } %>

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="apple-touch-icon" href="icons/favicon-128x128.png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
    <!-- quasar:entry-point -->
    <noscript>
      <strong>JavaScript gereklidir. Lütfen tarayıcınızda JavaScript'i etkinleştirin.</strong>
    </noscript>
  </body>
</html>
